absl-py==2.3.1
accelerate==1.11.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.1
aiosignal==1.4.0
alembic==1.17.2
annotated-doc==0.0.3
annotated-types==0.7.0
anyio==4.11.0
astunparse==1.6.3
async-timeout==5.0.1
attrs==25.4.0
bert-score==0.3.13
bitsandbytes==0.48.2
blinker==1.9.0
blis==0.7.11
catalogue==2.0.10
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.0
cloudpathlib==0.23.0
colorama==0.4.6
colorlog==6.10.1
confection==0.1.5
contourpy==1.3.2
cryptography==46.0.3
cycler==0.12.1
cymem==2.0.13
dataclasses-json==0.6.7
datasets==4.2.0
dill==0.4.0
einops==0.8.1
en-core-web-sm @ file:///data2/qwp/LLM-Blender/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
evaluate==0.4.6
exceptiongroup==1.3.0
fastapi==0.121.0
fastchat==0.1.0
filelock==3.20.0
flash_attn==2.8.3
Flask==3.0.0
flatbuffers==25.12.19
fonttools==4.61.1
frozenlist==1.8.0
fschat==0.2.36
fsspec==2025.9.0
gast==0.7.0
gitdb==4.0.12
GitPython==3.1.45
google-pasta==0.2.0
greenlet==3.3.0
grpcio==1.76.0
h11==0.16.0
h5py==3.15.1
hf-xet==1.1.10
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.35.3
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.2
keras==3.12.0
kiwisolver==1.4.9
langcodes==3.5.1
latex2mathml==3.78.1
libclang==18.1.1
-e git+ssh://git@github.com/wenpengqiu/LLM-Blender.git@33204d2712944b6b17996f7c079e74cd963ccc7c#egg=llm_blender
lxml==6.0.2
Mako==1.3.10
Markdown==3.10
markdown-it-py==4.0.0
markdown2==2.5.4
MarkupSafe==3.0.3
marshmallow==3.26.1
matplotlib==3.10.8
mdurl==0.1.2
ml_dtypes==0.5.4
mpmath==1.3.0
multidict==6.7.0
multiprocess==0.70.16
murmurhash==1.0.15
mypy_extensions==1.1.0
namex==0.1.0
networkx==3.4.2
nh3==0.3.2
nltk==3.9.2
numpy==1.26.4
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.5
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvshmem-cu12==3.3.20
nvidia-nvtx-cu12==12.8.90
opt_einsum==3.4.0
optree==0.18.0
optuna==4.6.0
packaging==25.0
pandas==2.3.3
pillow==12.0.0
platformdirs==4.5.1
portalocker==3.2.0
preshed==3.0.12
prettytable==3.16.0
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==6.33.0
psutil==7.1.1
pyarrow==21.0.0
pycparser==2.23
pydantic==2.12.4
pydantic_core==2.41.5
Pygments==2.19.2
PyJWT==2.9.0
pyOpenSSL==25.3.0
pyparsing==3.2.5
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
regex==2025.10.22
requests==2.32.5
rich==14.2.0
rouge_score==0.1.2
sacrebleu==2.5.1
safetensors==0.6.2
scikit-learn==1.7.2
scipy==1.15.3
sentencepiece==0.2.1
sentry-sdk==2.47.0
shellingham==1.5.4
shortuuid==1.0.13
six==1.17.0
smart_open==7.5.0
smmap==5.0.2
sniffio==1.3.1
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.45
srsly==2.5.2
starlette==0.49.3
svgwrite==1.4.3
sympy==1.14.0
tabulate==0.9.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.3.0
thinc==8.2.5
threadpoolctl==3.6.0
tiktoken==0.12.0
tokenizers==0.22.1
tomli==2.3.0
torch==2.9.0
tqdm==4.67.1
transformers==4.57.1
triton==3.5.0
typer==0.20.0
typer-slim==0.20.0
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
uvicorn==0.38.0
wandb==0.23.1
wasabi==1.1.3
wavedrom==2.0.3.post3
wcwidth==0.2.14
weasel==0.4.3
Werkzeug==3.0.1
wrapt==2.0.1
xxhash==3.6.0
yarl==1.22.0
